<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=kc-sce-cs551-2\sqlexpress;Initial Catalog=Grocery_finder;Integrated Security=True" />
    <add name="GroceryConnectionString" connectionString="Data Source=kc-sce-cs551-2\sqlexpress;Initial Catalog=Grocery_finder;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


    <system.web>
      <compilation debug="true"/>
    </system.web>
  </configuration>
  

